body {
  height: 100vh;
}

.wrapper {
  height: 100%;
}

main {
  height: 100%;
}

.mainContainer {
  height: 100%;
}

.mainContainer .row {
  height: 100%;
}

.mainContainer .row .textContainer {
  height: 100%;
}

.mainContainer .row .imgContainer {
  height: 100%;
}